.sidebar-nav {
  margin-top: 20px;
  padding: 0;
  list-style: none;
}

body {
  padding-top: 64px;
}

.logout {
  margin: 0;
}

.min-h-100 {
  min-height: 100vh;
}

.inline {
  display: inline;
}

.hidden {
  display: none;
}

.max-w-480 {
  max-width: 480px;
}

.max-w-600 {
  max-width: 600px;
}

.star-rating label { 
  margin: 0 3px; 
}

.star-rating input:checked ~ label span,
.star-rating label:hover ~ label span,
.star-rating input:focus ~ label span {
  color: #ffc107 !important;
}

.star-rating label span { 
  transition: color 0.2s; 
}

.max-w-300 {
  max-width: 300px;
}