.sidebar-nav {
  margin-top: 20px;
  padding: 0;
  list-style: none;
}

body {
  padding-top: 64px;
}

.logout {
  margin: 0;
}

.min-h-100 {
  min-height: 100vh;
}

.inline {
  display: inline;
}

.hidden {
  display: none;
}

.max-w-480 {
  max-width: 480px;
}

.max-w-600 {
  max-width: 600px;
}