<!DOCTYPE html>
{% load i18n %}
<html lang="en">
  <head>
    {% block title %}
      <title>{% trans 'Soccer Fields Management' %}</title>
    {% endblock %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>

  <body class="bg-light d-flex align-items-center" style="min-height:100vh">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-sm-8 col-md-6 col-lg-5">
          <div class="card border-0 shadow-lg rounded-4 p-4 border-0">
            {% include 'language_selector.html' %}
            {% block content %}

            {% endblock %}
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
