{% load i18n %}
<form action="{% url 'set_language' %}" method="post" class="inline">
  {% csrf_token %}
  <div class="d-flex align-items-center">
    <select name="language" class="form-select form-select-sm d-inline" style="width: auto;" onchange="this.form.submit()">
      <option value="en" {% if LANGUAGE_CODE == 'en' %}selected{% endif %}>{% trans "English" %}</option>
      <option value="vi" {% if LANGUAGE_CODE == 'vi' %}selected{% endif %}>{% trans "Vietnamese" %}</option>
    </select>
  </div>
</form>
